</article>
<!--底部-->
<br><br><br>
<br>
<div style="margin-top:50px; position:fixed;bottom:0px;height:38px;background:white;width:100%;margin:0;">
    <div class="col-md-12 column">
        <center style="line-height:38px">
            欢迎访问张棋的小问答系统
        </center>
    </div>
</div>

</body>

</html>