</div>
</div>
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-3  fh5co-widget">
                <h4>关于网站</h4>
                <p>在这里，你可以卸下一天的疲惫，舒缓身心</p>
                <p>在这里，你可以约会朋友和情人，想念相见</p>
                <p>在这里，你可以遇见志同道合者，畅谈生活</p>
            </div>
            <div class="col-md-3 col-xs-4 col-md-push-1">
                <h4>友情链接</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="http://www.kimkim.cc">www.kimkim.cc</a></li><br>
                    <li><a href="#">微博</a></li><br>
                    <li><a href="#">gitHub</a></li><br>
                </ul>
            </div>

            <div class="col-md-3 col-xs-4 col-md-push-1">
                <h4>本人链接</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="https://github.com/zhanghaiduo">我的Github</a></li><br>
                    <li><a href="http://www.keykey.cc">www.keykey.cc</a></li><br>
                    <li><a href="http://www.keykey.me">www.keykey.me</a></li>
            </div>

            <div class="col-md-3 col-xs-4">
                <h4>联系我</h4>
                <ul class="fh5co-footer-links">
                    <li>QQ:<br>526169225</li><br>
                    <li>邮箱:<br>526169225@qq.com</li><br>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy;本网站仅供学习与交流</small>
                </p>
            </div>
        </div>
    </footer>
</div>
</div>