<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="zhangqi">
    <!--注册登录样式-->
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/denglu.css">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css">
    <!--引入jquery-->
    <script type="text/javascript" src="/plugins/jquery.min.js"></script>
    <!--引入bootstrap插件-->
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/xiaolian.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/gotop.css">
    <!--编辑器-->
    <link rel="stylesheet" href="/plugins/editor/dist/simplemde.min.css">
    <script type="text/javascript" src="/plugins/editor/dist/simplemde.min.js"></script>

    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="/js/jquery.flexslider-min.js"></script>
    <!-- Counters -->
    <script src="/js/jquery.countTo.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- END container-wrap -->



    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="fh5co-loader"></div>

    <div id="page" style="overflow:hidden">
        <nav class="fh5co-nav" role="navigation">
            <div class="container-wrap">
                <div class="top-menu">
                    <div class="row">
                        <div class="col-xs-2">
                            <MARQUEE style="position:absolute;left:200px;" DIRECTION=LEFT BEHAVIOR=SCROLL SCROLLAMOUNT=10 SCROLLDELAY=200><span>欢迎来到动漫爱好者交流空间</span></MARQUEE>
                            <a href="/">
                                <div class="emoji  emoji--haha" style="position:absolute;top:-25px;">
                                    <div class="emoji__face">
                                        <div class="emoji__eyes"></div>
                                        <div class="emoji__mouth">
                                            <div class="emoji__tongue"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li><a href="/">首页</a></li>
                                <li><a href="/tags">话题</a></li>
                                <% if(user) { %>
                                    <li><a href="/archive">存档</a></li>
                                    <li class="has-dropdown">
                                        <a><img src="/images/touxiang.png" alt="" style="height:25px;">
                                            <%= user.name %>
                                        </a>
                                        <ul class="dropdown">
                                            <li><a href="/post">发表</a></li>
                                            <li><a href="/upload">上传</a></li>
                                            <li><a href="/logout">退出</a></li>
                                        </ul>
                                    </li>
                                    <% } else { %>
                                        <li><a href="/reg">注册</a></li>
                                        <li><a href="/login">登录</a></li>
                            </ul>
                            <% } %>

                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin:150px auto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                        <h4 class="modal-title" id="myModalLabel">
                            请留下您宝贵的意见:
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input style="border-radius:10px;" class="form-control" type="text" placeholder="">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius:10px;">关闭
				</button>
                        <a type="button" class="btn btn-primary" href="/" style="border-radius:10px;">
					提交更改
				</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
        <div class="go-top dn" id="go-top">
            <a href="javascript:;" class="uc-2vm"></a>
            <div class="uc-2vm-pop dn">
                <h2 class="title-2wm">扫一扫</h2>
                <div class="logo-2wm-box">
                    <img src="/images/weixin.jpg" alt="" width="240" height="240">
                </div>
            </div>
            <a href="javascript:;" target="_blank" class="feedback" data-toggle="modal" data-target="#myModal"></a>
            <a href="javascript:;" class="go"></a>
        </div>

        <script>
            $(function() {
                $(window).on('scroll', function() {
                    var st = $(document).scrollTop();
                    if (st > 0) {
                        $('#nav').css('opacity', '0.7');
                        if ($('#main-container').length != 0) {
                            var w = $(window).width(),
                                mw = $('#main-container').width();
                            if ((w - mw) / 2 > 70)
                                $('#go-top').css({
                                    'left': (w - mw) / 2 + mw + 20
                                });
                            else {
                                $('#go-top').css({
                                    'left': 'auto'
                                });
                            }
                        }
                        $('#go-top').fadeIn(function() {
                            $(this).removeClass('dn');
                        });
                    } else {
                        $('#nav').css('opacity', '');
                        $('#go-top').fadeOut(function() {
                            $(this).addClass('dn');
                        });
                    }
                });
                $('#go-top .go').on('click', function() {
                    $('html,body').animate({
                        'scrollTop': 0
                    }, 500);
                });

                $('#go-top .uc-2vm').hover(function() {
                    $('#go-top .uc-2vm-pop').removeClass('dn');
                }, function() {
                    $('#go-top .uc-2vm-pop').addClass('dn');
                });
            });
        </script>
        <article>
            <div id="tishi" class="text-center " style="height:10px;">
                <span id="tishi">
                <%= success %>
                </span>
            </div>
            <div class="container-wrap">