<% include header %>
    <div class="container">
        <main class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-9 column" style="border-right:1px solid  #C8A55F;">
                    <ul class="nav nav-tabs " style="margin:10px;color:#333333 ">
                        <li class="dropdown pull-left " style="font-size:30px;margin-bottom: 10px ">
                            <span class="glyphicon glyphicon-fire " style="font-size:28px; "></span><span>&#x3000;热门话题</span>
                        </li>
                        <li class=" pull-right ">
                            <a href="# ">三十天</a>
                        </li>

                        <li class="pull-right ">
                            <a href="# ">七天</a>
                        </li>
                        <li class=" pull-right ">
                            <a href="# ">全部</a>
                        </li>

                    </ul>
                    <% posts.forEach(function(tag,index){ %>
                        <div class="col-md-6 column nav" style="margin-top:20px ">
                            <div>
                                <a class="pull-left" href=" "><img src="/images/laoshi.png " alt=" "></a>
                            </div>
                            <div style="margin-left:50px; ">
                                <h4>
                                    <a class="btn btn-success " href="/tags/<%= tag %>">
                                        <%= tag %>
                                    </a>
                                </h4>
                                <p> 999个讨论 39个关注</p>
                                <p>7天新增 999个讨论，30天新增 4个讨论</p>
                            </div>
                            <hr>
                        </div>
                        <%  }) %>
                            <p> <a class="pagination pull-right " style="margin-top:100px;" href="# ">...更多>></a></p>
                </div>
                <div class=" col-md-3 column ">
                    <br>
                    <div class=" pull-left ">
                        <span>全部话题</span>
                    </div>
                    <br>
                    <hr>
                </div>
                <div class="pull-right col-md-3" style="right:20px;">
                    <img style="width:300px;height:300px;" src="/images/laoshi.png" alt="">
                </div>
                <div class="col-md-3 column ">
                    <div class=" pull-left ">
                        <span>新增话题</span>
                    </div>
                    <br> <br>
                    <% posts.forEach(function(tag,index){ %>
                        <a class="btn btn-success " href="/tags/<%= tag %>">
                            <%= tag %>
                        </a>
                        <%  }) %>
                            <br> <br> <br>
                </div>

            </div>
        </main>

    </div>
    <% include footer %>