.emoji {
    width: 80px;
    height: 80px;
    /*margin: 15px;*/
    background: #FFDA6A;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.emoji:after {
    position: absolute;
    bottom: -40px;
    font-size: 18px;
    width: 60px;
    left: calc(50% - 30px);
    color: #8A8A8A;
}

.emoji__face,
.emoji__eyebrows,
.emoji__eyes,
.emoji__mouth,
.emoji__tongue,
.emoji__heart,
.emoji__hand,
.emoji__thumb {
    position: absolute;
}

.emoji__face:before,
.emoji__face:after,
.emoji__eyebrows:before,
.emoji__eyebrows:after,
.emoji__eyes:before,
.emoji__eyes:after,
.emoji__mouth:before,
.emoji__mouth:after,
.emoji__tongue:before,
.emoji__tongue:after,
.emoji__heart:before,
.emoji__heart:after,
.emoji__hand:before,
.emoji__hand:after,
.emoji__thumb:before,
.emoji__thumb:after {
    position: absolute;
    content: '';
}

.emoji__face {
    width: inherit;
    height: inherit;
}


/*.emoji--haha:after {
    text-align: center;
    content: '张棋';
}*/

.emoji--haha .emoji__face {
    animation: haha-face 2s linear infinite;
}

.emoji--haha .emoji__eyes {
    width: 24px;
    height: 6px;
    border-radius: 2px;
    left: calc(50% - 12px);
    top: 25px;
    transform: rotate(20deg);
    background: transparent;
    box-shadow: -25px 5px 0 0 #000000, 25px -5px 0 0 #000000;
}

.emoji--haha .emoji__eyes:after {
    left: 0;
    top: 0;
    width: 24px;
    height: 6px;
    border-radius: 2px;
    transform: rotate(-40deg);
    background: transparent;
    box-shadow: -25px -5px 0 0 #000000, 25px 5px 0 0 #000000;
}

.emoji--haha .emoji__mouth {
    width: 30px;
    height: 24px;
    left: calc(50% - 15px);
    top: 50%;
    background: #000000;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    z-index: 1;
    animation: haha-mouth 2s linear infinite;
}

.emoji--haha .emoji__tongue {
    width: 60px;
    height: 22px;
    background: #F55064;
    left: calc(50% - 35px);
    bottom: -10px;
    border-radius: 10%;
}

@keyframes haha-face {
    10% {
        transform: translateY(25px);
    }
    20% {
        transform: translateY(15px);
    }
    30% {
        transform: translateY(25px);
    }
    40% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(25px);
    }
    60% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(-10px);
    }
}

@keyframes haha-mouth {
    10% {
        transform: scale(0.6);
        top: 45%;
    }
    20% {
        transform: scale(0.8);
        top: 45%;
    }
    30% {
        transform: scale(0.6);
        top: 45%;
    }
    40% {
        transform: scale(0.8);
        top: 45%;
    }
    50% {
        transform: scale(0.6);
        top: 45%;
    }
    60% {
        transform: scale(1);
        top: 50%;
    }
    70% {
        transform: scale(1.2);
        top: 50%;
    }
    80% {
        transform: scale(1);
        top: 50%;
    }
    90% {
        transform: scale(1.1);
        top: 50%;
    }
}